{
    CopyProgressWindowLocation = "{581, 258}";
    DesktopViewSettings =     {
        IconViewSettings =         {
            arrangeBy = none;
            backgroundColorBlue = 1;
            backgroundColorGreen = 1;
            backgroundColorRed = 1;
            backgroundType = 0;
            gridOffsetX = 0;
            gridOffsetY = 0;
            gridSpacing = 54;
            iconSize = 64;
            labelOnBottom = 1;
            showIconPreview = 1;
            showItemInfo = 0;
            textSize = 12;
            viewOptionsVersion = 1;
        };
    };
    DownloadsFolderListViewSettingsVersion = 1;
    "FK_AppCentricShowSidebar" = 1;
    "FK_DefaultIconViewSettings" =     {
        arrangeBy = name;
        backgroundColorBlue = 1;
        backgroundColorGreen = 1;
        backgroundColorRed = 1;
        backgroundType = 0;
        gridOffsetX = 0;
        gridOffsetY = 0;
        gridSpacing = 54;
        iconSize = 64;
        labelOnBottom = 1;
        showIconPreview = 1;
        showItemInfo = 1;
        textSize = 12;
        viewOptionsVersion = 1;
    };
    "FK_DefaultListViewSettings" =     {
        calculateAllSizes = 0;
        columns =         (
                        {
                ascending = 1;
                identifier = name;
                visible = 1;
                width = 300;
            },
                        {
                ascending = 0;
                identifier = dateModified;
                visible = 0;
                width = 181;
            },
                        {
                ascending = 0;
                identifier = dateCreated;
                visible = 0;
                width = 181;
            },
                        {
                ascending = 0;
                identifier = size;
                visible = 1;
                width = 97;
            },
                        {
                ascending = 1;
                identifier = kind;
                visible = 1;
                width = 115;
            },
                        {
                ascending = 1;
                identifier = label;
                visible = 0;
                width = 100;
            },
                        {
                ascending = 1;
                identifier = version;
                visible = 0;
                width = 75;
            },
                        {
                ascending = 1;
                identifier = comments;
                visible = 0;
                width = 300;
            },
                        {
                ascending = 0;
                identifier = dateLastOpened;
                visible = 0;
                width = 200;
            },
                        {
                ascending = 0;
                identifier = shareOwner;
                visible = 0;
                width = 200;
            },
                        {
                ascending = 0;
                identifier = shareLastEditor;
                visible = 0;
                width = 200;
            },
                        {
                ascending = 0;
                identifier = dateAdded;
                visible = 1;
                width = 181;
            }
        );
        iconSize = 16;
        showIconPreview = 1;
        sortColumn = dateAdded;
        textSize = 13;
        useRelativeDates = 1;
        viewOptionsVersion = 1;
    };
    "FK_SidebarWidth" = 143;
    "FK_StandardViewSettings" =     {
        ExtendedListViewSettingsV2 =         {
            calculateAllSizes = 0;
            columns =             (
                                {
                    ascending = 1;
                    identifier = name;
                    visible = 1;
                    width = 300;
                },
                                {
                    ascending = 0;
                    identifier = dateModified;
                    visible = 1;
                    width = 181;
                },
                                {
                    ascending = 0;
                    identifier = dateCreated;
                    visible = 0;
                    width = 181;
                },
                                {
                    ascending = 0;
                    identifier = size;
                    visible = 1;
                    width = 97;
                },
                                {
                    ascending = 1;
                    identifier = kind;
                    visible = 1;
                    width = 115;
                },
                                {
                    ascending = 1;
                    identifier = label;
                    visible = 0;
                    width = 100;
                },
                                {
                    ascending = 1;
                    identifier = version;
                    visible = 0;
                    width = 75;
                },
                                {
                    ascending = 1;
                    identifier = comments;
                    visible = 0;
                    width = 300;
                },
                                {
                    ascending = 0;
                    identifier = dateLastOpened;
                    visible = 0;
                    width = 200;
                },
                                {
                    ascending = 0;
                    identifier = shareOwner;
                    visible = 0;
                    width = 200;
                },
                                {
                    ascending = 0;
                    identifier = shareLastEditor;
                    visible = 0;
                    width = 200;
                }
            );
            iconSize = 16;
            showIconPreview = 1;
            sortColumn = name;
            textSize = 13;
            useRelativeDates = 1;
            viewOptionsVersion = 1;
        };
        IconViewSettings =         {
            arrangeBy = none;
            backgroundColorBlue = 1;
            backgroundColorGreen = 1;
            backgroundColorRed = 1;
            backgroundType = 0;
            gridOffsetX = 0;
            gridOffsetY = 0;
            gridSpacing = 54;
            iconSize = 64;
            labelOnBottom = 1;
            showIconPreview = 1;
            showItemInfo = 0;
            textSize = 12;
            viewOptionsVersion = 1;
        };
        ListViewSettings =         {
            calculateAllSizes = 0;
            columns =             {
                comments =                 {
                    ascending = 1;
                    index = 7;
                    visible = 0;
                    width = 300;
                };
                dateCreated =                 {
                    ascending = 0;
                    index = 2;
                    visible = 0;
                    width = 181;
                };
                dateLastOpened =                 {
                    ascending = 0;
                    index = 8;
                    visible = 0;
                    width = 200;
                };
                dateModified =                 {
                    ascending = 0;
                    index = 1;
                    visible = 1;
                    width = 181;
                };
                kind =                 {
                    ascending = 1;
                    index = 4;
                    visible = 1;
                    width = 115;
                };
                label =                 {
                    ascending = 1;
                    index = 5;
                    visible = 0;
                    width = 100;
                };
                name =                 {
                    ascending = 1;
                    index = 0;
                    visible = 1;
                    width = 300;
                };
                size =                 {
                    ascending = 0;
                    index = 3;
                    visible = 1;
                    width = 97;
                };
                version =                 {
                    ascending = 1;
                    index = 6;
                    visible = 0;
                    width = 75;
                };
            };
            iconSize = 16;
            showIconPreview = 1;
            sortColumn = name;
            textSize = 13;
            useRelativeDates = 1;
            viewOptionsVersion = 1;
        };
        SettingsType = "FK_StandardViewSettings";
    };
    FXArrangeGroupViewBy = Name;
    FXDesktopTouchBarUpgradedToTenTwelveOne = 1;
    FXDesktopVolumePositions =     {
        "ChatGPT Installer_0x1.6ec18b78p+29" =         {
            AnchorRelativeTo = 1;
            ScreenID = 0;
            xRelative = "-65";
            yRelative = 78;
        };
        "DBeaver Community_0x1.6f66309p+29" =         {
            AnchorRelativeTo = 1;
            ScreenID = 0;
            xRelative = "-65";
            yRelative = 78;
        };
        "Fliqlo 1.9.4_0x1.65e8489cfdb7bp+29" =         {
            AnchorRelativeTo = 1;
            ScreenID = 0;
            xRelative = "-65";
            yRelative = 78;
        };
        "JetBrains Toolbox_0x1.64450b8p+29" =         {
            AnchorRelativeTo = 1;
            ScreenID = 0;
            xRelative = "-65";
            yRelative = 78;
        };
    };
    FXDetachedDesktopProviderID = "";
    FXDetachedDocumentsProviderID = "";
    FXICloudDriveDesktop = 0;
    FXICloudDriveDocuments = 0;
    FXICloudDriveEnabled = 0;
    FXICloudLoggedIn = 0;
    FXInfoPanesExpanded =     {
        Comments = 1;
        MetaData = 1;
        Name = 1;
    };
    FXInfoWindowWidth = 265;
    FXQuickActionsConfigUpgradeLevel = 3;
    FXRecentFolders =     (
                {
            "file-bookmark" = {length = 668, bytes = 0x626f6f6b 9c020000 00000410 30000000 ... 04000000 00000000 };
            name = Downloads;
        },
                {
            "file-bookmark" = {length = 816, bytes = 0x626f6f6b 30030000 00000410 30000000 ... 04000000 00000000 };
            name = Recents;
        },
                {
            "file-bookmark" = {length = 716, bytes = 0x626f6f6b cc020000 00000410 30000000 ... 04000000 00000000 };
            name = "swiftbar-plugin";
        },
                {
            "file-bookmark" = {length = 752, bytes = 0x626f6f6b f0020000 00000410 30000000 ... 04000000 00000000 };
            name = charts;
        },
                {
            "file-bookmark" = {length = 652, bytes = 0x626f6f6b 8c020000 00000410 30000000 ... 04000000 00000000 };
            name = Documents;
        },
                {
            "file-bookmark" = {length = 756, bytes = 0x626f6f6b f4020000 00000410 30000000 ... 04000000 00000000 };
            name = prometheus;
        },
                {
            "file-bookmark" = {length = 800, bytes = 0x626f6f6b 20030000 00000410 30000000 ... 04000000 00000000 };
            name = intellij;
        },
                {
            "file-bookmark" = {length = 664, bytes = 0x626f6f6b 98020000 00000410 30000000 ... 04000000 00000000 };
            name = Desktop;
        },
                {
            "file-bookmark" = {length = 508, bytes = 0x626f6f6b fc010000 00000410 30000000 ... 04000000 00000000 };
            name = Applications;
        },
                {
            "file-bookmark" = {length = 508, bytes = 0x626f6f6b fc010000 00000410 30000000 ... 04000000 00000000 };
            name = Applications;
        }
    );
    FXSidebarUpgradedToTenFourteen = 1;
    FXSidebarUpgradedToTenTen = 1;
    FXSyncExtensionToolbarItemsPendingAdd =     (
    );
    FXSyncExtensionToolbarItemsPendingRemove =     (
    );
    FXToolbarUpgradedToTenEight = 1;
    FXToolbarUpgradedToTenNine = 2;
    FXToolbarUpgradedToTenSeven = 1;
    FavoriteTagNames =     (
        "",
        Red,
        Orange,
        Yellow,
        Green,
        Blue,
        Purple,
        Gray
    );
    LastTrashState = 1;
    "NSToolbar Configuration Browser" =     {
        "TB Display Mode" = 2;
        "TB Icon Size Mode" = 1;
        "TB Is Shown" = 1;
        "TB Size Mode" = 1;
    };
    NetworkViewSettings =     {
        CustomViewStyleVersion = 1;
    };
    RecentMoveAndCopyDestinations =     (
        "file:///Applications/",
        "file:///Users/joe.ta/Documents/"
    );
    RecentsArrangeGroupViewBy = "Date Last Opened";
    SearchRecentsSavedViewStyleVersion = "%00%00%00%01";
    SearchRecentsViewSettings =     {
        WindowState =         {
            ContainerShowSidebar = 1;
            ShowSidebar = 1;
            ShowStatusBar = 0;
            ShowTabView = 0;
            ShowToolbar = 1;
            WindowBounds = "{{320, 508}, {920, 436}}";
        };
    };
    ShowExternalHardDrivesOnDesktop = 1;
    ShowHardDrivesOnDesktop = 0;
    ShowRemovableMediaOnDesktop = 1;
    ShowSidebar = 1;
    SidebarDevicesSectionDisclosedState = 1;
    SidebarPlacesSectionDisclosedState = 1;
    SidebarShowingSignedIntoiCloud = 0;
    SidebarShowingiCloudDesktop = 0;
    SidebarWidth = 174;
    StandardViewSettings =     {
        ExtendedListViewSettingsV2 =         {
            calculateAllSizes = 0;
            columns =             (
                                {
                    ascending = 1;
                    identifier = name;
                    visible = 1;
                    width = 300;
                },
                                {
                    ascending = 0;
                    identifier = dateModified;
                    visible = 1;
                    width = 181;
                },
                                {
                    ascending = 0;
                    identifier = dateCreated;
                    visible = 0;
                    width = 181;
                },
                                {
                    ascending = 0;
                    identifier = size;
                    visible = 1;
                    width = 97;
                },
                                {
                    ascending = 1;
                    identifier = kind;
                    visible = 1;
                    width = 115;
                },
                                {
                    ascending = 1;
                    identifier = label;
                    visible = 0;
                    width = 100;
                },
                                {
                    ascending = 1;
                    identifier = version;
                    visible = 0;
                    width = 75;
                },
                                {
                    ascending = 1;
                    identifier = comments;
                    visible = 0;
                    width = 300;
                },
                                {
                    ascending = 0;
                    identifier = dateLastOpened;
                    visible = 0;
                    width = 200;
                },
                                {
                    ascending = 0;
                    identifier = shareOwner;
                    visible = 0;
                    width = 200;
                },
                                {
                    ascending = 0;
                    identifier = shareLastEditor;
                    visible = 0;
                    width = 200;
                }
            );
            iconSize = 16;
            showIconPreview = 1;
            sortColumn = name;
            textSize = 13;
            useRelativeDates = 1;
            viewOptionsVersion = 1;
        };
        GalleryViewSettings =         {
            arrangeBy = name;
            iconSize = 48;
            showIconPreview = 1;
            viewOptionsVersion = 1;
        };
        IconViewSettings =         {
            arrangeBy = none;
            backgroundColorBlue = 1;
            backgroundColorGreen = 1;
            backgroundColorRed = 1;
            backgroundType = 0;
            gridOffsetX = 0;
            gridOffsetY = 0;
            gridSpacing = 54;
            iconSize = 64;
            labelOnBottom = 1;
            showIconPreview = 1;
            showItemInfo = 0;
            textSize = 12;
            viewOptionsVersion = 1;
        };
        ListViewSettings =         {
            calculateAllSizes = 0;
            columns =             {
                comments =                 {
                    ascending = 1;
                    index = 7;
                    visible = 0;
                    width = 300;
                };
                dateCreated =                 {
                    ascending = 0;
                    index = 2;
                    visible = 0;
                    width = 181;
                };
                dateLastOpened =                 {
                    ascending = 0;
                    index = 8;
                    visible = 0;
                    width = 200;
                };
                dateModified =                 {
                    ascending = 0;
                    index = 1;
                    visible = 1;
                    width = 181;
                };
                kind =                 {
                    ascending = 1;
                    index = 4;
                    visible = 1;
                    width = 115;
                };
                label =                 {
                    ascending = 1;
                    index = 5;
                    visible = 0;
                    width = 100;
                };
                name =                 {
                    ascending = 1;
                    index = 0;
                    visible = 1;
                    width = 300;
                };
                size =                 {
                    ascending = 0;
                    index = 3;
                    visible = 1;
                    width = 97;
                };
                version =                 {
                    ascending = 1;
                    index = 6;
                    visible = 0;
                    width = 75;
                };
            };
            iconSize = 16;
            showIconPreview = 1;
            sortColumn = name;
            textSize = 13;
            useRelativeDates = 1;
            viewOptionsVersion = 1;
        };
        SettingsType = StandardViewSettings;
    };
    TagsCloudSerialNumber = 1;
    TrashViewSettings =     {
        CustomViewStyleVersion = 1;
    };
}
