<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CurrentSet</key>
	<string>/Sets/063B0C87-8017-455B-950E-C098101FD024</string>
	<key>Model</key>
	<string>Mac16,8</string>
	<key>NetworkServices</key>
	<dict>
		<key>024F692B-BAFF-44D3-982F-ADC946AA5E26</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>DHCP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>en11</string>
				<key>Hardware</key>
				<string>Ethernet</string>
				<key>Type</key>
				<string>Ethernet</string>
				<key>UserDefinedName</key>
				<string>iPhone USB</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>ExceptionsList</key>
				<array>
					<string>*.local</string>
					<string>169.254/16</string>
				</array>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
			<key>SMB</key>
			<dict/>
			<key>UserDefinedName</key>
			<string>iPhone 2</string>
		</dict>
		<key>1E178649-964A-4C51-B94C-D177897E0C76</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>DHCP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>en8</string>
				<key>Hardware</key>
				<string>Ethernet</string>
				<key>Type</key>
				<string>Ethernet</string>
				<key>UserDefinedName</key>
				<string>iPhone USB</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>ExceptionsList</key>
				<array>
					<string>*.local</string>
					<string>169.254/16</string>
				</array>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
			<key>SMB</key>
			<dict/>
			<key>UserDefinedName</key>
			<string>iPhone</string>
		</dict>
		<key>55BF0CC9-BF7D-4779-A571-97765FBA2F6A</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>DHCP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>en5</string>
				<key>Hardware</key>
				<string>Ethernet</string>
				<key>HiddenConfiguration</key>
				<true/>
				<key>Type</key>
				<string>Ethernet</string>
				<key>UserDefinedName</key>
				<string>Ethernet Adapter (en5)</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>ExceptionsList</key>
				<array>
					<string>*.local</string>
					<string>169.254/16</string>
				</array>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
			<key>SMB</key>
			<dict/>
			<key>UserDefinedName</key>
			<string>Ethernet Adapter (en5)</string>
		</dict>
		<key>56FF622E-844C-495F-815F-C578A559FD41</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>DHCP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>en7</string>
				<key>Hardware</key>
				<string>Ethernet</string>
				<key>Type</key>
				<string>Ethernet</string>
				<key>UserDefinedName</key>
				<string>USB 10/100/1000 LAN</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>ExceptionsList</key>
				<array>
					<string>*.local</string>
					<string>169.254/16</string>
				</array>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
			<key>SMB</key>
			<dict/>
			<key>UserDefinedName</key>
			<string>USB 10/100/1000 LAN</string>
		</dict>
		<key>8044DA0A-B43D-4556-8CAF-58CC3F725655</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>DHCP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>en6</string>
				<key>Hardware</key>
				<string>Ethernet</string>
				<key>HiddenConfiguration</key>
				<true/>
				<key>Type</key>
				<string>Ethernet</string>
				<key>UserDefinedName</key>
				<string>Ethernet Adapter (en6)</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>ExceptionsList</key>
				<array>
					<string>*.local</string>
					<string>169.254/16</string>
				</array>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
			<key>SMB</key>
			<dict/>
			<key>UserDefinedName</key>
			<string>Ethernet Adapter (en6)</string>
		</dict>
		<key>8088FDDE-40E0-4A7B-9890-E762208E9689</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>DHCP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>en4</string>
				<key>Hardware</key>
				<string>Ethernet</string>
				<key>HiddenConfiguration</key>
				<true/>
				<key>Type</key>
				<string>Ethernet</string>
				<key>UserDefinedName</key>
				<string>Ethernet Adapter (en4)</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>ExceptionsList</key>
				<array>
					<string>*.local</string>
					<string>169.254/16</string>
				</array>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
			<key>SMB</key>
			<dict/>
			<key>UserDefinedName</key>
			<string>Ethernet Adapter (en4)</string>
		</dict>
		<key>B37C366F-034F-4C03-A99C-EF0121E6C17D</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>DHCP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>en0</string>
				<key>Hardware</key>
				<string>AirPort</string>
				<key>Type</key>
				<string>Ethernet</string>
				<key>UserDefinedName</key>
				<string>Wi-Fi</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>ExceptionsList</key>
				<array>
					<string>*.local</string>
					<string>169.254/16</string>
				</array>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
			<key>SMB</key>
			<dict>
				<key>NetBIOSName</key>
				<string>192</string>
			</dict>
			<key>UserDefinedName</key>
			<string>Wi-Fi</string>
		</dict>
		<key>CABC566A-7F9E-4701-A380-8AAE1D0143F5</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>PPP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>usbmodem502NTCZ8W0432</string>
				<key>Hardware</key>
				<string>Modem</string>
				<key>SubType</key>
				<string>PPPSerial</string>
				<key>Type</key>
				<string>PPP</string>
				<key>UserDefinedName</key>
				<string>LG Monitor Controls</string>
			</dict>
			<key>Modem</key>
			<dict>
				<key>ConnectionPersonality</key>
				<string>Default Personality</string>
				<key>ConnectionScript</key>
				<string>/Library/Modem Scripts/Generic Dialup.ccl</string>
				<key>DataCompression</key>
				<integer>1</integer>
				<key>DeviceModel</key>
				<string>Dialup Device</string>
				<key>DeviceVendor</key>
				<string>Generic</string>
				<key>DialMode</key>
				<string>WaitForDialTone</string>
				<key>ErrorCorrection</key>
				<integer>1</integer>
				<key>HoldCallWaitingAudibleAlert</key>
				<integer>1</integer>
				<key>HoldDisconnectOnAnswer</key>
				<integer>0</integer>
				<key>HoldEnabled</key>
				<integer>0</integer>
				<key>HoldReminder</key>
				<integer>1</integer>
				<key>HoldReminderTime</key>
				<integer>10</integer>
				<key>PulseDial</key>
				<integer>0</integer>
				<key>Speaker</key>
				<integer>1</integer>
			</dict>
			<key>PPP</key>
			<dict>
				<key>ACSPEnabled</key>
				<integer>0</integer>
				<key>CommDisplayTerminalWindow</key>
				<integer>0</integer>
				<key>CommRedialCount</key>
				<integer>1</integer>
				<key>CommRedialEnabled</key>
				<integer>1</integer>
				<key>CommRedialInterval</key>
				<integer>5</integer>
				<key>CommUseTerminalScript</key>
				<integer>0</integer>
				<key>DialOnDemand</key>
				<integer>0</integer>
				<key>DisconnectOnFastUserSwitch</key>
				<integer>1</integer>
				<key>DisconnectOnIdle</key>
				<integer>1</integer>
				<key>DisconnectOnIdleTimer</key>
				<integer>600</integer>
				<key>DisconnectOnLogout</key>
				<integer>1</integer>
				<key>DisconnectOnSleep</key>
				<integer>1</integer>
				<key>IPCPCompressionVJ</key>
				<integer>1</integer>
				<key>IdleReminder</key>
				<integer>0</integer>
				<key>IdleReminderTimer</key>
				<integer>1800</integer>
				<key>LCPEchoEnabled</key>
				<integer>1</integer>
				<key>LCPEchoFailure</key>
				<integer>4</integer>
				<key>LCPEchoInterval</key>
				<integer>10</integer>
				<key>Logfile</key>
				<string>/var/log/ppp.log</string>
				<key>VerboseLogging</key>
				<integer>0</integer>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
			<key>SMB</key>
			<dict/>
			<key>UserDefinedName</key>
			<string>LG Monitor Controls</string>
		</dict>
		<key>EB4DFF68-8BBB-4F21-8A81-13F5B26FAF3E</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>DHCP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>bridge0</string>
				<key>Hardware</key>
				<string>Ethernet</string>
				<key>Type</key>
				<string>Ethernet</string>
				<key>UserDefinedName</key>
				<string>Thunderbolt Bridge</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>ExceptionsList</key>
				<array>
					<string>*.local</string>
					<string>169.254/16</string>
				</array>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
			<key>SMB</key>
			<dict/>
			<key>UserDefinedName</key>
			<string>Thunderbolt Bridge</string>
		</dict>
	</dict>
	<key>Sets</key>
	<dict>
		<key>063B0C87-8017-455B-950E-C098101FD024</key>
		<dict>
			<key>Network</key>
			<dict>
				<key>Global</key>
				<dict>
					<key>IPv4</key>
					<dict>
						<key>ServiceOrder</key>
						<array>
							<string>CABC566A-7F9E-4701-A380-8AAE1D0143F5</string>
							<string>8088FDDE-40E0-4A7B-9890-E762208E9689</string>
							<string>55BF0CC9-BF7D-4779-A571-97765FBA2F6A</string>
							<string>8044DA0A-B43D-4556-8CAF-58CC3F725655</string>
							<string>56FF622E-844C-495F-815F-C578A559FD41</string>
							<string>EB4DFF68-8BBB-4F21-8A81-13F5B26FAF3E</string>
							<string>B37C366F-034F-4C03-A99C-EF0121E6C17D</string>
							<string>1E178649-964A-4C51-B94C-D177897E0C76</string>
							<string>024F692B-BAFF-44D3-982F-ADC946AA5E26</string>
						</array>
					</dict>
				</dict>
				<key>Interface</key>
				<dict>
					<key>en0</key>
					<dict>
						<key>AirPort</key>
						<dict>
							<key>JoinMode</key>
							<string>Automatic</string>
						</dict>
					</dict>
				</dict>
				<key>Service</key>
				<dict>
					<key>024F692B-BAFF-44D3-982F-ADC946AA5E26</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/024F692B-BAFF-44D3-982F-ADC946AA5E26</string>
					</dict>
					<key>1E178649-964A-4C51-B94C-D177897E0C76</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/1E178649-964A-4C51-B94C-D177897E0C76</string>
					</dict>
					<key>55BF0CC9-BF7D-4779-A571-97765FBA2F6A</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/55BF0CC9-BF7D-4779-A571-97765FBA2F6A</string>
					</dict>
					<key>56FF622E-844C-495F-815F-C578A559FD41</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/56FF622E-844C-495F-815F-C578A559FD41</string>
					</dict>
					<key>8044DA0A-B43D-4556-8CAF-58CC3F725655</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/8044DA0A-B43D-4556-8CAF-58CC3F725655</string>
					</dict>
					<key>8088FDDE-40E0-4A7B-9890-E762208E9689</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/8088FDDE-40E0-4A7B-9890-E762208E9689</string>
					</dict>
					<key>B37C366F-034F-4C03-A99C-EF0121E6C17D</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/B37C366F-034F-4C03-A99C-EF0121E6C17D</string>
					</dict>
					<key>CABC566A-7F9E-4701-A380-8AAE1D0143F5</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/CABC566A-7F9E-4701-A380-8AAE1D0143F5</string>
					</dict>
					<key>EB4DFF68-8BBB-4F21-8A81-13F5B26FAF3E</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/EB4DFF68-8BBB-4F21-8A81-13F5B26FAF3E</string>
					</dict>
				</dict>
			</dict>
			<key>UserDefinedName</key>
			<string>Automatic</string>
		</dict>
	</dict>
	<key>System</key>
	<dict>
		<key>Network</key>
		<dict>
			<key>HostNames</key>
			<dict>
				<key>LocalHostName</key>
				<string>PSLM-LL7NVG2X2T</string>
			</dict>
		</dict>
		<key>System</key>
		<dict>
			<key>ComputerName</key>
			<string>PSLM-LL7NVG2X2T</string>
			<key>ComputerNameEncoding</key>
			<integer>134217984</integer>
			<key>HostName</key>
			<string>PSLM-LL7NVG2X2T</string>
		</dict>
	</dict>
	<key>VirtualNetworkInterfaces</key>
	<dict>
		<key>Bridge</key>
		<dict>
			<key>bridge0</key>
			<dict>
				<key>Interfaces</key>
				<array>
					<string>en1</string>
					<string>en2</string>
					<string>en3</string>
				</array>
				<key>Options</key>
				<dict>
					<key>__AUTO__</key>
					<string>thunderbolt-bridge</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>__VERSION__</key>
	<integer>20191120</integer>
</dict>
</plist>
